.reactMarkDown {
    box-sizing: border-box;
    outline: none;
}

.reactMarkDown img {
    max-width: 100%;
    max-height: 50vh;
    margin: 0.1em;
}

.reactMarkDown table,
.reactMarkDown th,
.reactMarkDown td {
    border: 1px solid var(--bs-dark);
    border-collapse: collapse;
    padding: 0.5rem;
}

.reactMarkDown iframe,
.reactMarkDown pre,
.reactMarkDown code {
    max-width: 100%;
    box-shadow: 0 5px 50px rgba(30, 20, 10, 0.1);
    margin: 0 !important;
}

.reactMarkDown pre {
    padding: 0.5em;
    border: 1px solid rgba(30, 20, 10, 0.1);
}

.reactMarkDown a {
    color: var(--bs-info);
}

.reactMarkDown a:hover {
    color: var(--bs-blue);
    text-decoration: none;
}


.reactMarkDown p,
.reactMarkDown li {
    font-size: 18px;
}

.reactMarkDown h1,
.reactMarkDown h2,
.reactMarkDown h3,
.reactMarkDown h4,
.reactMarkDown h5 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.reactMarkDown h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
}

.reactMarkDown h3 {
    font-size: 1.25em;
}

.reactMarkDown h4 {
    font-size: 1em;
}