.text-input {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 480px;
    padding: 0 8px;
    border: 1px solid #d6d8da;
    border-radius: 6px;

}

.sm-input {
    min-height: 48px;
}

.lg-input {
    min-height: calc(48px * 7);
}

.text-input:focus-within {
    border: 1px solid #212529;
}

.text-input input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
}

.text-input input:focus {
    outline: transparent;
}

.preview {
    max-height: 80vh;
    overflow: auto;
}