.text-input {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 8px;
    border: 1px solid #d6d8da;
    border-radius: 6px;

}

.sm-input {
    min-height: 48px;
}

.lg-input {
    min-height: calc(48px * 7);
}

.text-input:focus-within {
    border: 1px solid #212529;
}

.text-input input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
}

.text-input input:focus {
    outline: transparent;
}

.input {
    border: 1px solid #d6d8da;
    border-radius: 6px;
}


.preview {
    min-height: 80vh;
    max-height: 80vh;
    overflow: auto;
}

.words-menu {
    display: none;
    min-width: 100%;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    position: absolute;
    z-index: 1000;
    padding: 0.5rem;
}

.words-item {
    min-width: 100%;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.words-item:hover {
    background-color: #e4e9ee;
    cursor: pointer;
}

.show {
    display: block;
}